*{
  box-sizing: border-box;
  margin: 0;
  padding:0;
}

.App{
  display:flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  position: relative;
  background-color: #92c4bb;
  }
/****************************** [Home.js] ***********************************/

.card-parent{
  height:95%;
  width:30%;
  -webkit-border-radius: 40px 40px 40px 40px;
  -moz-border-radius: 40px 40px 40px 40px;
  border-radius: 40px 40px 40px 40px;
  -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
 box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
 background-color: #BCC1CD;
 position:absolute;
 background: #CE2910;
background: -moz-linear-gradient(45deg, #CE2910 0%, #0C3CA4 50%, #C59237 100%);
background: -webkit-linear-gradient(45deg, #CE2910 0%, #0C3CA4 50%, #C59237 100%);
background: linear-gradient(45deg, #CE2910 0%, #0C3CA4 50%, #C59237 100%);

}

/* playing now text */
.card-parent > h1{
  color:white;
  text-align: center;
 }

 /* next song  */
 .card-parent > h2{
  border-radius: 20%;
  margin:2px;
  font-family: 'Jost', sans-serif;
  font-size:larger
 }

.bar{
color:white;
}

.card-content{
text-align: center;
top:20px;
position:relative;
}

.music-function{
  text-align: center;
  top:30px;
  position: relative;
  background-color: #9c9c9c;
  border-radius: 50%;
}

.song-img-before{
  /* border:2px solid red; */
  top: 0;
  left:230px;
  height: 155px;
  width:80px;
  border-radius: 50%;
  margin: 5px auto;
}

.song-img{
  /* border:2px solid red; */
  top: 0;
  left:230px;
  height: 155px;
  width:80px;
  border-radius: 50%;
  margin: 5px auto;
  animation:spin 4s linear infinite;
  animation-name: img;
}

@keyframes img {
  from { 
    transform: rotate(0deg); 
} to { 
    transform: rotate(360deg); 
}
}

.song-title{
  font-size: 25px;
  color:cyan;
  font-family: 'Abril Fatface', cursive;
}

.song-artist{
  color:rgb(209, 135, 23);
  font-size: 25px; 
  font-family: 'Oleo Script Swash Caps', 'cursive';
  font-weight: 600;
}
/*************** responsive **************/

@media only screen and (max-width:850px) {
  *{
   overflow:hidden; 
  }
  
  .container{
    width: 100%;
    padding:0;
    overflow:hidden; 
  }

  .card-parent{
    width:70%;
    height:60%;
  }
 
}
